<launch>

<!-- Il faut d'abord avoir lancé la scène vrep et démarré la simulation -->
  <node pkg="cartographie_tl" name="controler" type="controler.py"/>
  <node pkg="rviz" name="rviz" type="rviz"/>
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping">
   <remap from="scan" to="/vrep/front_scan"/>
   <param name="base_frame" value="Pioneer_p3dx"/>
   <param name="odom_frame" value="odom"/>
   <param name="map_frame" value="map"/>
  </node>

</launch>
